.about{
    background-color: rgb(231, 124, 48);
    color: #f5f5f5;
}

.about__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;
}

.about__title{
    margin: 0.5rem;
}

.about__paragraph{
    line-height: 25px;
}